.topnav{
    overflow: hidden;
    background-color: #1F1F1F;
    align-items: center;
}

.topnav a{
    float: left;
    color: black;
    text-align: center;
    transition: background-color 0.3s;
    background-color: #047c04ec; 
}

.topnav a:hover{
    background-color: #039d03df;
}

.topnav a:active{
    background-color: #10cd03dc;

}
.topnav input[type=text]{
    margin: auto;
    height: 30px;
    width: 50%;
    border-radius: 2px;
    position: absolute;
    right: 50;
}

.product_list{
    margin-bottom: 5px;
}