body{
    background-color: #1F1F1F;
}

.main{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 30%;
}

.search_container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#search{
    background-color: #1a18189e;
    border-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 500px;
    height: 38px;
    border-radius: 0 10px 10px 0;
    border: none;
    outline: none;
    border-left: none;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#search-button{
    background-color: limegreen;
    width: 50px;
    height: 38px;
    border-radius:10px 0 0 10px;
    border: none;
    border-right: none;
    outline: none;
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#search-button:hover{
    background-color: darkgreen;
}

#search-button:active{
    background-color: white !important;
}

.dropdown{
    position: relative;
    margin-right: 200px;
}
#dropdown_button.off{
    background-color: #474646;
    transition: background-color 0.2s ease-in-out;  
    color: white;
    width: 200px;
    height: 38px;
    border-radius: 20px;
    border: none;
    outline: none;
    /* This doesnt feel right something may go wrong ngl*/
}

#dropdown_button:active{
    background-color: black;
    border-radius: 20px 20px 0 0;
}

#dropdown_button.on{
    background-color: black;
    transition: background-color 0.2s ease-in-out;  
    color: white;
    width: 200px;
    height: 38px;
    border-radius: 20px 20px 0 0;
    border: none;
    outline: none;
}

.dropdown_content{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f1f1f1;
    z-index: 1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content a{
    background-color: black;
    color: white;
    display: block;
    padding: 12px 16px;
}

.dropdown:active .dropdown_content{
    display:block;
}



