body{
    background-color: #1F1F1F;
}

.main{
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 30%;
}

.search_container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input{
    background-color: #1F1F1F;
    border-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 500px;
    height: 38px;
    border-radius: 0 10px 10px 0;
    border-left: none;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#search-button{
    background-color: limegreen;
    width: 50px;
    height: 38px;
    border-radius:10px 0 0 10px;
    border-right: none;
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

#search-button:hover{
    background-color: darkgreen;
}

#search-button:active{
    background-color: white !important;
}

.dropdown{
    position: relative;
    margin-right: 200px;
}
.dropdown_button{
    background-color: #535353;
    transition: background-color 0.2s ease-in-out;  
    width: 200px;
    height: 38px;
    /* This doesnt feel right something may go wrong ngl*/
}

.dropdown_button:active{
    background-color: black;
}
.dropdown_content{
    display: none;
    position: absolute;
}

.dropdown_content a{
    color:white;
    display: block;
}


