body{
    background-color: #1F1F1F;
}

.main{
    display: inline-block;
    position: relative;
    align-items: center;
    top: 15%;
    left: 40%;
}

.search_container{
    display: flex;
    align-items: center;
}

input{
    background-color: #1F1F1F;
    border-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 500px;
    height: 38px;
    border-radius: 0 10px 10px 0;
    border-left: none;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

button{
    background-color: limegreen;
    width: 50px;
    height: 38px;
    border-radius:10px 0 0 10px;
    border-right: none;
    transition: background-color 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

button:hover{
    background-color: darkgreen;
}

button:active{
    background-color: white !important;
}

